<svg:g xmlns:svg="http://www.w3.org/2000/svg">
	<g tl-axis
		[timeline]="timeline()"
		[timelineIdx]="timelineIdx()"
		[startLabel]="startLabel()"
		[endLabel]="endLabel()"
		[textStyle]="textStyle()"
		[lineStyle]="lineStyle()"
	/>
	@if (timeline().eventGraphics.length > 0) {
		@for (tlEvent of timeline().eventGraphics; track tlEvent; let i = $index) {
			<g tl-event
				[tlEvent]="tlEvent"
				[eventIdx]="i"
				[timeline]="timeline()"
				[timelineIdx]="timelineIdx()"
				[textStyle]="textStyle()"
				[lineStyle]="lineStyle()"
			/>
		}
	}
</svg:g>