<div class="timeline-container">
	<tl-label-layout-selector />
	<svg [attr.width]="viewSize().width" [attr.height]="viewSize().height" xmlns="http://www.w3.org/2000/svg">
		<g tl-axis
			[startPos]="axisStartPos()"
			[endPos]="axisEndPos()"
			[startLabel]="startLabel()"
			[endLabel]="endLabel()"
			[textStyle]="textStyle()"
			[lineStyle]="lineStyle()"
		/>
		@if (timeline()?.events) {
			@for (tlEvent of timeline()!.events; track tlEvent.when; let i = $index) {
				@if (getEventPosition(i)) {
					<g tl-event
						[tlEvent]="tlEvent"
						[index]="i"
						[dateFormat]="dateFormat()"
						[position]="getEventPosition(i)!"
						[markerSize]="eventMarkerSize()"
						[textStyle]="textStyle()"
						[lineStyle]="lineStyle()"
					/>
				}
			}
		}
	</svg>

	<!-- Global overlay component for timeline events -->
	<tl-event-overlay [dateFormat]="dateFormat()" />
</div>
