:host {
	display: block;
	width: 100%;
	height: 100%;
}

.timeline-container {
	position: relative;
	width: 100%;
	height: 100%;
}

.timeline-container svg {
	width: 100%;
	height: 100%;
	display: block;
}

tl-layout-selector {
	position: absolute;
	top: 16px;
	right: 16px;
	z-index: 10;
}

