<svg:g xmlns:svg="http://www.w3.org/2000/svg">
	@if (axisStartPos()) {
		<line
			id="start-mapping"
			[attr.x1]="overviewStartPos().x"
			[attr.y1]="overviewStartPos().y"
			[attr.x2]="axisStartPos()!.x"
			[attr.y2]="axisStartPos()!.y"
			[attr.stroke]="lineStyle().color"
			[attr.stroke-width]="lineStyle().width"
			[attr.opacity]="opacity()"
		/>
	}
	@for (tlEvent of timeline().events; track tlEvent.when; let i = $index) {
		@let eventPos = getEventPositionsInView(i);
		@let overviewEventPos = getOverviewEventPositions(i);
		@if (eventPos) {
			<line
				id="event-mapping"
				[attr.x1]="overviewEventPos.start.x"
				[attr.y1]="overviewEventPos.start.y"
				[attr.x2]="eventPos.x"
				[attr.y2]="eventPos.y"
				[attr.stroke]="lineStyle().color"
				[attr.stroke-width]="lineStyle().width"
				[attr.opacity]="opacity()"
			/>
		}

		@let eventEndPos = getEventEndPositionsInView(i);
		@if (eventEndPos) {
			<line
				id="event-end-mapping"
				[attr.x1]="overviewEventPos.end!.x"
				[attr.y1]="overviewEventPos.end!.y"
				[attr.x2]="eventEndPos.x"
				[attr.y2]="eventEndPos.y"
				[attr.stroke]="lineStyle().color"
				[attr.stroke-width]="lineStyle().width"
				[attr.opacity]="opacity()"
			/>
		}
	}
	@if (axisEndPos()) {
		<line
			id="end-mapping"
			[attr.x1]="overviewEndPos().x"
			[attr.y1]="overviewEndPos().y"
			[attr.x2]="axisEndPos()!.x"
			[attr.y2]="axisEndPos()!.y"
			[attr.stroke]="lineStyle().color"
			[attr.stroke-width]="lineStyle().width"
			[attr.opacity]="opacity()"
		/>
	}
</svg:g>
