.event-marker {
	cursor: pointer;
	transition: opacity 0.2s ease;
}

.event-marker:hover {
	opacity: 0.8;
}

.no-text-select {
	user-select: none;
	-webkit-user-select: none; /* For WebKit browsers like Chrome and Safari */
	-moz-user-select: none;    /* For Firefox */
	-ms-user-select: none;     /* For Internet Explorer/Edge */
}