<svg:g xmlns:svg="http://www.w3.org/2000/svg">
	<g 
		svg-icon 
		[name]="'tl-date'" 
		[origin]="SvgIconOrigin.Center" 
		[position]="position()" 
		[size]="markerSize()"
		(mouseenter)="onMarkerMouseEnter($event)"
		(mousemove)="onMarkerMouseMove($event)"
		(mouseleave)="onMarkerMouseLeave()"
		class="event-marker"
	></g>
	@if (labelLayoutFormat === EventLabelLayoutFormat.Vertical) {
		<text
		[attr.x]="labelPos.x" 
		[attr.y]="labelPos.y"
		[attr.font-family]="textStyle().font"
		[attr.font-size]="textStyle().size"
		[attr.font-weight]="textStyle().weight"
		[attr.transform]="'rotate(' + labelRotation + ' ' + labelPos.x + ' ' + labelPos.y + ')'"
		>{{label()}}</text>
	}
	@if (labelLayoutFormat === EventLabelLayoutFormat.Horizontal) {
		<text
		[attr.x]="labelPos.x" 
		[attr.y]="labelPos.y"
		[attr.font-family]="textStyle().font"
		[attr.font-size]="textStyle().size"
		[attr.font-weight]="textStyle().weight"
		[attr.transform]="'rotate(' + labelRotation + ' ' + labelPos.x + ' ' + labelPos.y + ')'"
		>{{label()}}</text>
	}
</svg:g>