<svg:g xmlns:svg="http://www.w3.org/2000/svg">
	<g 
		svg-icon 
		class="event-marker"
		[name]="'tl-date'" 
		[origin]="SvgIconOrigin.Center" 
		[position]="position" 
		[size]="eventMarkerSize()"
		(mouseenter)="onMarkerMouseEnter($event)"
		(mousemove)="onMarkerMouseMove($event)"
		(mouseleave)="onMarkerMouseLeave()"
	></g>
	@if (layoutFormat() === LayoutFormat.Vertical) {
		<text
			class="no-text-select"
			[attr.x]="labelPos.x" 
			[attr.y]="labelPos.y"
			[attr.font-family]="textStyle().font"
			[attr.font-size]="textStyle().size"
			[attr.font-weight]="textStyle().weight"
			[attr.transform]="'rotate(' + labelRotation() + ' ' + labelPos.x + ' ' + labelPos.y + ')'"
		>{{label()}}</text>
	}
	@if (layoutFormat() === LayoutFormat.Horizontal) {
		<!-- Render text first so it exists when mask is evaluated -->
		<text
			class="no-text-select"
			[attr.id]="'event-label-' + index()"
			[attr.x]="labelPos.x" 
			[attr.y]="labelPos.y"
			[attr.font-family]="textStyle().font"
			[attr.font-size]="textStyle().size"
			[attr.font-weight]="textStyle().weight"
		>{{label()}}</text>
		<!-- Define mask to exclude text area from connector -->
		<defs>
			<mask [attr.id]="'connector-mask-' + index()">
				<!-- White = visible, Black = hidden -->
				<rect x="0" y="0" width="10000" height="10000" fill="white"/>
				@if (textBBox) {
					<rect
						[attr.x]="textBBox.x"
						[attr.y]="textBBox.y"
						[attr.width]="textBBox.width"
						[attr.height]="textBBox.height"
						fill="black"
					/>
				}
			</mask>
		</defs>
		<path
			class="event-connector"
			[attr.d]="labelConnectorPath"
			[attr.stroke]="lineStyle().color"
			[attr.stroke-width]="lineStyle().width"
			[attr.fill]="'none'"
			[attr.mask]="needsMask ? 'url(#connector-mask-' + index() + ')' : null"
		></path>
	}
</svg:g>