/* You can add global styles to this file, and also import other style files */

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

.no-text-select {
	user-select: none;
	-webkit-user-select: none; /* For WebKit browsers like Chrome and Safari */
	-moz-user-select: none;    /* For Firefox */
	-ms-user-select: none;     /* For Internet Explorer/Edge */
}