<svg:g xmlns:svg="http://www.w3.org/2000/svg">
	<line
		id="time-axis"
		[attr.x1]="displayBounds().left"
		[attr.y1]="displayBounds().center.y"
		[attr.x2]="displayBounds().right"
		[attr.y2]="displayBounds().center.y"
		[attr.stroke]="lineStyle().color"
		[attr.stroke-width]="lineStyle().width"
	/>
	<line
		id="start-marker"
		[attr.x1]="startMarker().left"
		[attr.y1]="startMarker().top"
		[attr.x2]="startMarker().left"
		[attr.y2]="startMarker().bottom"
		[attr.stroke]="lineStyle().color"
		[attr.stroke-width]="lineStyle().width"
	/>
	<text
		id="start-text"
		class="no-text-select"
		[attr.x]="startLabelPos().x"
		[attr.y]="startLabelPos().y"
		[attr.font-family]="textStyle().font"
		[attr.font-size]="textStyle().size"
		[attr.font-weight]="textStyle().weight"
		[attr.transform]="'rotate(' + labelRotation() + ' ' + startLabelPos().x + ' ' + startLabelPos().y + ')'"
	>{{startLabel()}}</text>
	<line
		id="end-marker"
		[attr.x1]="endMarker().left"
		[attr.y1]="endMarker().top"
		[attr.x2]="endMarker().left"
		[attr.y2]="endMarker().bottom"
		[attr.stroke]="lineStyle().color"
		[attr.stroke-width]="lineStyle().width"
	/>
	<text
		id="end-text"
		class="no-text-select"
		[attr.x]="endLabelPos().x"
		[attr.y]="endLabelPos().y"
		[attr.font-family]="textStyle().font"
		[attr.font-size]="textStyle().size"
		[attr.font-weight]="textStyle().weight"
		[attr.transform]="'rotate(' + labelRotation() + ' ' + endLabelPos().x + ' ' + endLabelPos().y + ')'"
	>{{endLabel()}}</text>
</svg:g>

