<svg:g xmlns:svg="http://www.w3.org/2000/svg">
	<rect
		[attr.x]="displayBounds().left"
		[attr.y]="displayBounds().top"
		[attr.width]="displayBounds().width"
		[attr.height]="displayBounds().height"
		[attr.fill]="background()"
		[attr.stroke]="lineStyle().color"
		stroke-width="0.2"
		rx="4"
		ry="4"
	/>
	<line
		id="axis"
		[attr.x1]="startPos().x"
		[attr.y1]="startPos().y"
		[attr.x2]="endPos().x"
		[attr.y2]="endPos().y"
		[attr.stroke]="lineStyle().color"
		[attr.stroke-width]="lineStyle().width"
	/>
	<g 
		svg-icon 
		class="timeline-start-position"
		[name]="'tl-start'" 
		[origin]="SvgIconOrigin.Center" 
		[position]="startIconPos()" 
		[size]="axisMarkerSize()"
	></g>
	<text
		id="start-text"
		class="no-text-select"
		[attr.x]="startLabelPos().x"
		[attr.y]="startLabelPos().y"
		[attr.font-family]="textStyle().font"
		[attr.font-size]="textStyle().size"
		[attr.font-weight]="textStyle().weight"
		[attr.transform]="'rotate(' + labelRotation() + ' ' + startLabelPos().x + ' ' + startLabelPos().y + ')'"
		[attr.fill]="textStyle().color"
	>{{startLabel()}}</text>
	<g 
		svg-icon 
		class="timeline-end-position"
		[name]="'tl-end'" 
		[origin]="SvgIconOrigin.Center" 
		[position]="endIconPos()" 
		[size]="axisMarkerSize()"
	></g>
	<text
		id="end-text"
		class="no-text-select"
		[attr.x]="endLabelPos().x"
		[attr.y]="endLabelPos().y"
		[attr.font-family]="textStyle().font"
		[attr.font-size]="textStyle().size"
		[attr.font-weight]="textStyle().weight"
		[attr.transform]="'rotate(' + labelRotation() + ' ' + endLabelPos().x + ' ' + endLabelPos().y + ')'"
	>{{endLabel()}}</text>
</svg:g>

