<svg:g xmlns:svg="http://www.w3.org/2000/svg">
	@for (labelLayout of labels; track labelLayout; let i = $index) {
		@let labelPos = labelPosition(i);
		@if (layoutFormat === LayoutFormat.Vertical) {
			<text class="no-text-select"
				[attr.x]="labelPos.x"
				[attr.y]="labelPos.y"
				[attr.font-family]="textStyle().font"
				[attr.font-size]="textStyle().size"
				[attr.font-weight]="textStyle().weight"
				[attr.fill]="labelColor(i)"
				[attr.transform]="'rotate(' + labelRotation() + ' ' + labelPos.x + ' ' + labelPosition(i).y + ')'">{{label(i)}}
			</text>
		}
		@if (layoutFormat === LayoutFormat.HorizontalLeft || layoutFormat === LayoutFormat.HorizontalCenter) {
			<text class="no-text-select"
				[attr.id]="'event-label-' + i"
				[attr.x]="labelPos.x"
				[attr.y]="labelPos.y"
				[attr.font-family]="textStyle().font"
				[attr.font-size]="textStyle().size"
				[attr.font-weight]="textStyle().weight"
				[attr.fill]="labelColor(i)">{{label(i)}}
			</text>
			<path class="event-connector"
				[attr.d]="connectorPath(i)"
				[attr.stroke]="lineColor(i)"
				[attr.stroke-width]="lineStyle().width"
				[attr.fill]="'none'">
			</path>
		}
	}
</svg:g>
